# Dependencies
node_modules/

# Build output
dist/
coverage/

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.*

# Prisma
*.db
*.sqlite
*.sqlite3
/src/generated/prisma/

# IDE / OS
.vscode/
.idea/
.DS_Store
